name: Despliegue Estático Simple a S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Configurar Credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.ASIAUTTCKN3GBGTISDU6 }}
          aws-secret-access-key: ${{ secrets.kcNlva3GpxdmnAa3ybBvxJ5S6JwDtJ0CzwiZVCbr }}
          aws-region: us-east-1 

      - name: Sincronizar (Subir) a S3
        run: aws s3 sync ./ s3://amzn-bucket-community --delete
